<footer>
    <div>&copy; Copyright 2021 DEV by Marc Reyes</div>
    <div>
        <a href="https://github.com/mabreyes/pduts-remaining-days" target="_blank" rel="noopener noreferrer">GitHub</a> &middot;
        <a href="https://marcrey.es" target="_blank" rel="noopener noreferrer">marcreyes.ph</a> &middot;
        <a href="https://marcrey.es/status" target="_blank" rel="noopener noreferrer">Status</a> &middot;
        <a href="https://marcrey.es/dev" target="_blank" rel="noopener noreferrer">DEV</a>
    </div>
</footer>