<meta charset="UTF-8">
<title>{{ site.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="https://cdn-static-s3.marcreyes.xyz/assets/marcreyesph/images/ico/favicon.ico" type="image/x-icon">
<link rel="canonical" href="{{ site.url }}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ 'css/style.css' }}">
<meta name="description" content="{{ page.description }}">
<meta property="og:image" content="{{ 'images/today.jpg' }}">
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:url" content="{{ site.url }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{ site.twitter }}" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.title }}" />
<meta name="twitter:image" content="{{ 'images/og-image.png' }}" />
<meta name="theme-color" content="{{ site.color }}">