---
layout: compress 
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body oncontextmenu="return false" onselectstart="return false">
    {{ content }}
    {% if page.footer == true %} 
    {% include footer.html %}
    {% else %}
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script>
        var days = moment().diff("2022-06-30", "days");
        document.querySelector('h1 #days').textContent = days
    </script>
</body>

</html>